# ROS 2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
# Ignore all source code files
#src/**/*.cpp
#src/**/*.hpp
#src/**/*.h

# Python
__pycache__/
*.pyc

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Temp
*.swp
